<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Renting House Guideline</li>
    </ol>
  </nav>

  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/Rent1.png" class="card-img" alt="Gagan Garima Society">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3>Any member, who intends to sublet his / her Flat, has to apply to Society for permission by complying with the following conditions</h3>
          <p class="card-text">As per the AGM, All the resident passed the bill with majority that, flat/row house should be rented to family tenant ONLY Click here to download (ZIP File 1.7 MB) the AGM Resolution and Confirmation Letter from Co-Operative Housing Register</p>
          <p class="card-text">A letter by the member to the Society indicating his / her intention to sublet his / her Flat on rent and the reason for the same</p>
          <p class="card-text">Appendix FORM 28 of the Bye Laws duly filled by the member Click here to Download</p>
          <p class="card-text">Appendix FORM 11 of the Bye-Laws duly filled by the Licensee</p>
          <p class="card-text">Copy of the Stamp Duty paid & Registered Lease agreement</p>
          <p class="card-text">If the Flat is held jointly, both the members have to sign the lease agreement in Membership order.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/Rent2.png" class="card-img" alt="Gagan Garima Society">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Personal Memoranda of the Licensee in the enclosed format</p>
          <p class="card-text">If, the Licensee is a Corporate Body / Firm, then a letter from them informing the occupants of the Flat with their personal memoranda Letter of Undertaking</p>
          <p class="card-text">Member should clear the outstanding dues if not cleared already</p>
          <p class="card-text">Tenant verification from the local Police station</p>
          <p class="card-text">Obtain No Objection Certificate from the Society before the tenant moves in Click here to download the NOC Format</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/Rent3.png" class="card-img" alt="Gagan Garima Society">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Member should submit any valid ID proof of the Tenant and his family member who will be staying with him</p>
          <p class="card-text">Society should be informed before the tenant moves IN/OUT</p>
          <p class="card-text">Power of Attorney in absence of Flat owner, please keep the copy of Pan Card/passport/voter card for identification</p>
          <p class="card-text">Introduction of Tenant by owner of the Flat to any one of the committee member</p>
          <p class="card-text">After seeking No objection Certificate from the Society only member can keep tenant in the Flat.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/Rent4.png" class="card-img" alt="Gagan Garima Society">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Owner or Tenant should not request for entry / exit of the goods without prior documentation /permission at the last minute.</p>
          <p class="card-text">Model bylaws for Sub - letting etc. of Flats. Page no.19, section 42 onwards. Click here to Read - Sub - letting of Flats</p>
          <h3>In case a Licensee occupies the Flat without prior permission, then it will be treated as illegal occupancy and the Society reserves the right to take further action in the matter.. Member's co-operation is Solicited</h3>
        </div>
      </div>
    </div>
  </div>
  
