<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">General Information</li>
    </ol>
  </nav>

<div class="card mb-3" style="max-width: 1500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./assets/Gate1.jpg" class="card-img" alt="Gagan Garima Society">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1><b><u> General Info</u></b></h1>
        <p class="card-text">Aundh road was an undeveloped village a few decades before, lying on the bank of the Pavana River. In the year 1952, the village was unusual that over half the population derived a substantial proportion of their income outside agriculture.</p>
        <p class="card-text">Society management started this initiative first through email and through Gagan garima google group to make people aware of effects of plastic and polythene bags and how it adds to garbage, pollution, and destroying the green nature around us.</p>
        <p class="card-text">Then society came up with unique initiative of distributing a "Reusable Shopping Bag" to each and every household with the message printed on each bag. This bag could re-used and people need to carry this every time they for shopping, thus avoid usage of plastic and polythene bags. This resulted in increase in awareness and as well as people started using this reusable shopping bag. This has resulted in some percentage reduction in Gagan Garima residents using plastic and polythene bags and spread word about bad effects of using plastic bags. This eco-friendly step is towards a green and clean environment.</p> 

      </div>
    </div>
  </div>
</div>
