<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Emergency Number</li>
    </ol>
  </nav>

  <p-table [value]="dataSource">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-main>
        <tr>
            <td>{{main.name}}</td>
            <td>{{main.phonenumber}}</td>
        </tr>
    </ng-template>
</p-table>  
  
