<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Happy Street</li>
    </ol>
  </nav>

<div class="card mb-3" style="max-width: 1500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./assets/happystreet.png" class="card-img" alt="Gagan Garima Society">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1><b><u> Introducing 'Happy Streets'</u></b></h1>
        <p class="card-text">The Pune Citizens’ Forum (PCCF), Centre for Environment Education (CEE), IBI Group and Institute for Transportation Policy Development (ITDP) are promoting socially and environment-friendly transportation in Aundh.</p>
        <p class="card-text">‘Happy Streets’ events are proposed to be organized on Sundays in November and December 2014.</p>
        <p class="card-text">The idea is to cordon off a part of the main road in our area for a few hours on a Sunday evening, keep it off limits for motorized traffic, and just have fun there... The best part is, PCMC and Pune Traffic Police have shown willingness to support us if that’s what people want!</p> 

      </div>
    </div>
  </div>
</div>
