<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Hospital</li>
    </ol>
  </nav>
  <h2><b><u>Near By Hospitals</u></b></h2>
  <p-table [value]="dataSource">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-main>
        <tr>
            <td>{{main.name}}</td>
            <td>{{main.address}}</td>
            <td>{{main.phonenumber}}</td>
        </tr>
    </ng-template>
</p-table>  
  
