.mat-tab-group {
  flex-direction: row !important;
}

.mat-tab-labels {
  flex-direction: column !important;
}

.mat-tab-label-active {
  border-right: 2px solid primary-color !important;
}

.mat-ink-bar {
  display: none;
}
.list-group{
  background-color: red;
}
.list-group-item{
  font-style: italic;
}