<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Management Committe</li>
    </ol>
  </nav>

  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/kadam.jpg" class="card-img" alt="Gagan Garima Society" width=80 height =300>
        <h3>Shripad Kadam</h3>
        <h2>Chairman</h2>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Mr. Shripad Kadam is elected Chairman of Gagan Garima since 2019. He will continue till Sep 2024. A born leader Mr. Kadam is a down to earth and very approachable individual for everyone in the society. .He has great Leadership ability, a wide social network and possesses effective people and team management skills.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/amar.jpg" class="card-img" alt="Gagan Garima Society" width=1000 height =350>
        <h3>Amar Patil</h3>
        <h2>Secetary</h2>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Amar Patil is a true blue Sales Professional .
            His passion for networking and meeting new people, drive his efforts in the contribution that he has been doing for Gagan Garima t Team for last 3 years.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/nagesh.jpg" class="card-img" alt="Gagan Garima Society" width=1000 height =350>
        <h3>Nagesh Deshmane</h3>
        <h2>Treasurer</h2>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Nagesh is IT architect by profession .He enjoys working with teams and want to work towards betterment of the society. He is firm believer of "be the change you want to see in the society".</p>
        </div>
      </div>
    </div>
  </div>
