html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.filler {
    flex: 1 1 auto;
 }
 /* .nav-item{
  padding:2px;
  margin-left: 7px;
} */

@media (max-width:760px){
  .overflow-hidden{
    overflow-x: hidden;
  }
  .overflow-visible{
    overflow-x: visible;
  }
}