<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Water Conservation</li>
    </ol>
  </nav>

<div class="card mb-3" style="max-width: 1500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./assets/rainwater.png" class="card-img" alt="Gagan Garima Society">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1><b><u> Rain Water Harvesting</u></b></h1>
        <p class="card-text">Gagan Garima Co Op Hsg. Society is one of the most desired Residential Complexes in Aundh Road with almost 100 families living happily since 2006. Having said that, it is also important to state that, for living happily one needs basic facilities like Water and Electricity. From these two requirements, today both are becoming less available and hence expensive day by day. The Society realises the need to save our precious resources like Electricity and Water.</p>
        <p class="card-text">Considering this, Society Management decided to invest on Rain Water Harvesting. In the year 2010 - 2011, we started with one of the borewell. We selected the borewell which was lowest on the water level in peak summer. Our execution got over just before rains and to our surprise; the gain experienced by the same bore was almost 3 times more in water force. In rainwater setup we collected water from the terrace coming down through 4 outlets of the two wings and recharged the low capacity bore with it. This pilot project gave us confidence on rainwater harvesting and we decided to roll it out for other bores. Today we have 2 more bores connected with rainwater setup and going forward we plan to get remaining bores under rainwater harvesting setup. By doing this we expect to have huge amount of water re charged into the ground giving us 24 x 7 x 365 days availability of water which will also be softer.</p>
        <p class="card-text">We are almost irrigating all the rain water inside the complex using various techniques.</p> 

      </div>
    </div>
  </div>
</div>
