<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Our Efforts</li>
    </ol>
  </nav>
<h3><b><u>Following are few other </u> initiatives at Gagan Garima</b></h3>
<div class="card mb-3" style="max-width: 1500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./assets/efforts.jpg" class="card-img" alt="Gagan Garima Society">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1><b><u> Cleanliness Drive</u></b></h1>
        <h3>Gagan Garima works under continuous cleanliness drive whole year. Our committee is committed to continuous improvement on this and following are various features. Our cleaning system is divided into following four areas.</h3>
        <i class="pi pi-check" style="font-size: 1.5em">Housekeeping of Buildings, Parking’s, Street areas.</i>
        <br>
        <i class="pi pi-check" style="font-size: 1.5em">Garbage collection.</i>

      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 1500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./assets/fogg.jpg" class="card-img" alt="Gagan Garima Society">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1><b><u> Fogging Machine for Mosquito Control</u></b></h1>
        <p class="card-text">Gagan Garima Co-op Housing Society Pvt Ltd  a vibrant and progressive co-op Housing society in Pimple Saudagar Area has set the example of "SELF HELP is THE BEST HELP" by OWNING a Fogging Machine for Mosquito Control rather than looking/waiting/following with PMC Authorities.</p>
        <p class="card-text">As we know mosquito populations are a fact of life and it is growing day by day and can transmit various life threatening dieses like malaria, yellow fever, filariasis, dengue, encephalitis, and West Nile Virus. Mosquitoes are found worldwide and there are about 3200 mosquito species currently recognized.Hence it is utmost important for to take mosquito control.</p>
        <p class="card-text">Initially Gagan Garima followed the conventional way and arranged fogging through PCMC, which was not regular and required constant follow up with PCMC to get priority. Changing Season & irregular fogging helped mosquito’s to grow their population and made it very difficult for residents to enjoy evening/nights in lush green gardens of Gagan Garima.</p> 

      </div>
    </div>
  </div>
</div>
