.page-footer {
    background-color: gainsboro;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    bottom: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
  }
  .footer{
    flex-shrink: 0;
    bottom: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
  }
  