<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">FAQ's</li>
    </ol>
  </nav>
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
    <p-accordionTab header="What procedures I need to follow before moving into Gagan Garima?">
      Please inform the Estate Manager of Gagan Garima and fill in the new owner/tenant form. Please carry the gate pass which was issued by society office, otherwise security will not allow your good/material.
    </p-accordionTab>
    <p-accordionTab header="Are there any base/standard rates decided by the society for house maids?">
      Yes, 400/month for cleaning and washing if family with 4 person or less. For additional family member, extra charge of 50 INR is applicable. For cooking once a day 1500 INR per month for family of two Any conflict about charges should be resolved at society office..
    </p-accordionTab>
    <p-accordionTab header="How do I become part of Roseland Residency Mail Group?">
      Please submit the written application with your email ID to the Estate Manage in Society Office.
    </p-accordionTab>
    <p-accordionTab header="How do I get parking sticker?" >
      Once the resident submits required documents in the Society Office, parking sticker will be issued after verification. Vehicle sticker will be issued based on the allotted parking, Please do not ask for more stickers.
    </p-accordionTab>
    <p-accordionTab header="What should I do if there is no water/electricity in my apartment?" >
      Please call at 9552042100 On call staff will inspect the problem and suggest required fix. If it is internal problem to your apartment, you have to register a complaint at maintenance office.
    </p-accordionTab>
    <p-accordionTab header="What should I do if the power goes off and lifts are not working?" >
      Please check the notice board; it might be due to routine maintenance from Otis Please raise a complaint by writing in the register kept at society office Call to Otis directly at 020 - 24227518 / 020 - 24226090 In case of emergency, please call 9552042100.
    </p-accordionTab>
    <p-accordionTab header=" Whom should I contact if I have a plumbing/electrician related problem inside my flat?" >
      The plumber and electricians are appointed by the society and their primary responsibility is to take care of the society maintenance. Maintenance inside the flats is not their primary responsibility You might choose to contact the staff of Roseland or choose to bring help from outside For any escalations please speak to the management committee member or please write to us at gagangarimachs@gmail.com
    </p-accordionTab>
    <p-accordionTab header=" What procedures do I need to follow before I leave Roseland?" >
      You need to inform the society office at least 2 weeks in advance and get the clearance and gate pass from society. The gate pass is required to take your goods outside the society main gate. You MUST clear all the due payable for Roseland Residency We would like to hear your feedback on your stay at Roseland. It will help us to improve our processes or please write to us at gagangarimachs@gmail.com
    </p-accordionTab>
    <p-accordionTab header=" What different Amenities Gagan Garima has?" >
      TTennis Court Party Lawn Landscaped Garden, Children's Play Park School Bus Stop for Children Temple Jogging Park Spacious Internal Cement Concrete Roads Round the Clock Security Lots of Trees
    </p-accordionTab>
</p-accordion>
